/* Reset margins and paddings */
* {
 
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

.content {
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
}

/* Icon styles */
.fa {
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

/* Navbar container */
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

/* Logo on the left */
.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Navbar links container (centered) */
.navbar .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #feea07db;
}

/* Icon links container (right side) */
.navbar .nav-icons {
  display: flex;
  gap: 20px;
}

.navbar .nav-icons a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbar .nav-icons a:hover {
  color: #fee507c8;
}

/* Underline the active/selected link */
.navbar .nav-links a:focus,
.navbar .nav-links a:hover,
#home:target ~ .navbar .nav-links a[href="#home"],
#about:target ~ .navbar .nav-links a[href="#about"],
#menu:target ~ .navbar .nav-links a[href="#menu"],
#gallery:target ~ .navbar .nav-links a[href="#gallery"],
#review:target ~ .navbar .nav-links a[href="#review"],
#order:target ~ .navbar .nav-links a[href="#order"] {
  border-bottom: 3px solid #feea07db;
  color: #feea07db;
}

.custom-text {
  color: rgb(247, 194, 18);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}

/* Hero Section */

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

.text-column {
  flex: 1;
  padding: 20px;
}

.text-column h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  
  font-size: 50px;
}

.text-column p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.hero-image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.floating-image:hover {
  animation: floatUpDown 1.5s ease-in-out infinite;
}

.floating-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Define the floating animation */
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Move image upwards */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

.cta-button {
  background-color: rgb(247, 194, 18);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
}

.cta-button:hover {
  background-color: #feea07db;
  color: #333;
  transition: 2s;
}

/* Menu Section */
.menu-section {
  padding: 100px 20px;
  text-align: center;
}

.menu-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
  gap: 10px;
  justify-items: center;
}

.menu-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: 90%;
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-10px);
}

.menu-card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  padding: 5px;
}

.menu-card-description {
  top: 0;
  padding: 10px;
  color: #333;
}

.menu-card-description h3 {
  margin-top: -5px;
  font-size: 1.5rem;
  color: #fec407db;
}

.menu-card-description h4 {
  margin-top: -5px;
  font-size: 1.5rem;
}

.menu-card-description p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.menu-card-button {
  background-color: rgb(21, 21, 20);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  width: 25vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  bottom: 0;
  flex-wrap: wrap;
}

.menu-card-stars {
  color: #fec407db;
  font-size: 0.1rem;
}

/* Gallery section */

.gallery-section {
  padding: 100px 20px;
  text-align: center;
}

.gallery-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
  justify-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.image-container a {
  display: inline-block;
  width: 100%;
}

.image-container a:hover {
  border: 5px solid rgb(247, 194, 18);
  text-decoration: none;
}

.image-container img {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Review section */

.review-section {
  padding: 100px 20px;
  text-align: center;
}

.review-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
  justify-items: center;
}

.review-card {
  background-color: #fff;
  border: 1px solid #d7d2d2;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.review-card:hover {
  transform: translateY(10px);
  box-shadow: 10px 14px 8px rgba(1, 1, 0, 0.1);
}

.review-card-image {
  margin-top: 20px;
  border-radius: 50%;
  width: 200px;
  border: 4px solid #d7d2d2;
}

.review-card-description {
  padding: 10px;
  color: #333;
  justify-content: center;
}

/* Order section */

.order-section{
  padding: 100px 20px;
  text-align: center;
}

.order-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-form-column {
  flex: 1;
  padding: 20px;
}

.order-image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#order-form {
  background-color: #b5b5b58f
  padding: 30px;  
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  text-align: left;
}

.inputbox, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Team section */

.team-section{
  padding: 100px 20px;
  text-align: center;
}

.team-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.team-photo-container{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 1px solid #d7d2d2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.team-image{
  border-radius: 50%;
  margin-top: 25px;
  width: 200px;
  border: 2px solid #d7d2d2;
  justify-items: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */

.footer-content{
  margin-bottom: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #d7d2d2;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
}

.footer-item h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.footer-item a {
  text-decoration: none;
  color: #333;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;
  text-decoration: none;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }
}

/* Navbar mobile view */
@media (max-width: 480px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links a {
    padding: 10px 0;
  }
}
